<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/navber') %>
    <div class="section">
        <div class="jumbotron" style="margin-top: 120px;">
            <h1 class="display-4">공시</h1>
            <p class="lead">공시</p>
            <hr class="my-4">
            <div class="fixed-box">
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <i aria-hidden="true">
                                            search
                                        </i>
                                    </div>
                                </div>
                                <fieldset aria-hidden="true">
                                    <legend style="width: 0px;"><span>&#8203;</span></legend>
                                </fieldset>
                                <div>
                                    <label for="input-175" style="left: 0px; right: auto; position: absolute;">
                                        프로젝트 검색
                                    </label>
                                    <br>
                                    <input autocomplete="off" id="input-175" type="text">
                                </div>
                                <div>
                                    <div><i role="button"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div role="button" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-178">
                                <fieldset aria-hidden="true">
                                    <legend style="width: 63.75px;"><span>&#8203;</span></legend>
                                </fieldset>
                                <div>
                                    <label for="input-178" style="left: 0px; right: auto; position: absolute;">
                                        온체인 유형
                                    </label>
                                    <br>
                                    <div>
                                        <div>전체</div>
                                        <input id="input-178" readonly="readonly" type="text" aria-readonly="true">
                                    </div>
                                    <div>
                                        <div><i aria-hidden="true"> </i></div>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        style="max-height: 304px; min-width: 0px; top: 12px; left: 0px; transform-origin: left top; z-index: 0; display: none;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" color="#524fde">
                        <div class="value-cont">
                            <div>
                                분류
                            </div>
                            <i aria-hidden="true"></i>
                        </div>
                        <!---->
                    </div>
                    <!---->
                </div>
            </div>
            <hr class="my-4">
            <p class="">투명한 자료 제공해드립니다.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">주요정보</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">프로필</a>
            <hr class="my-4">
            <div class="project-table">
                <div class="table-header">
                    <div class="item name cursor">가상자산<i aria-hidden="true"
                            style="font-size: 18px; color: rgb(211, 211, 211);"> </i></div>
                    <div class="item report"><span>프로필 보고서</span></div>
                    <div class="item market-cap cursor">시가 총액<i aria-hidden="true"
                            style="font-size: 18px; color: rgb(211, 211, 211);"> </i></div>
                    <div class="item volume cursor">거래량 (24시간)<i aria-hidden="true"
                            style="font-size: 18px; color: rgb(211, 211, 211);"> </i></div>
                    <div class="item price">가격</div>
                    <div class="item on-chain">온체인</div>
                </div>
                <div style="display: list-item;" flex->
                    <div>
                        <i aria-hidden="true" style="color: rgb(204, 204, 204); caret-color: rgb(204, 204, 204);">
                            star
                        </i>
                    </div>
                    <!-- <div>
                        <div style="max-width: 22px;">
                            <div style="padding-bottom: 100%;">
                            </div>
                            <div style="background-image: url(&quot;https://s3.ap-northeast-2.amazonaws.com/upload.xangle.io/images/project/5cd51e79293878abac111834/64.png&quot;); background-position: center center;">
                            </div>
                            <div style="width: 64px;">
                            </div>
                        </div>
                    </div> -->
                    <div><span>Bitcoin</span></div>
                    <div><span><i aria-hidden="true">launch</i></span></div>
                    <div>₩224,976,300,714,111</div>
                    <div>₩26,827,386,921,059</div>
                    <div>
                        <div>₩12,162,570</div>
                        <div><span>－</span><span>0.10%</span><span style="font-weight: normal;">(24h)</span></div>
                    </div>
                    <div>MainNet</div>
                </div>
            </div>
        </div>
</body>

</html>