<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/navber') %>
    <div class="section">
        <div class="jumbotron" style="margin-top: 120px;">
            <h1 class="display-4">공시</h1>
            <p class="lead">공시</p>
            <hr class="my-4">
            <a>가상자산 별 상세정보</a>
            <div class="project-table" style="display: flex; flex-direction: row; justify-content: space-around; ">
                <div class="table-header">
                    <div class="item company cursor">회사이름<i aria-hidden="true"> </i></div>
                    <div class="item founder cursor">설립자<i aria-hidden="true"> </i></div>
                    <div class="item location cursor">위치<i aria-hidden="true"> </i></div>
                    <div class="item corporateJurisdiction cursor">법인 관할건<i aria-hidden="true"> </i></div>
                    <div class="item virtualAssetName cursor">가상자산(이름)<i aria-hidden="true"> </i></div>
                    <div class="item virtualAssetLog cursor">가상자산(로그)<i aria-hidden="true"> </i></div>
                    <div class="item developer cursor">주요 개발자<i aria-hidden="true"> </i></div>
                </div>
                <div style="display: list-item;">
                    <div type="text">써트온</div>
                    <div>Sergey Nazarov</div>
                    <div>Strathvale House, 90 North Church Street, George Town, KY1-1102, Grand Cayman, Cayman
                        Islands</div>
                    <div>케이맨섬</div>
                    <div>Chainlink</div>
                    <div>Chainlink(Log)</div>
                    <div>Steve Ellis</div>
                </div>
            </div>
        </div>
</body>

</html>